@import "variables";
* {
    transition: .3s ease-out;
}

html {
    margin: 0;
    padding: 0;
    font-family: OpenN;
    font-size: 20px;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    margin: 0;
    color: $light-color;
    background-color: $light-bg;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $light-color;
    text-decoration: none;
}

h3 {
    font-size: 1rem;
}

h2 {
    font-size: 1.3rem;
}

.button-transtion {
    &:hover {
        opacity: .7 !important;
    }
}

.button-outline {
    &:hover {
        background-color: transparent !important;
        border: 1px solid #000 !important;
        color: #000 !important;
    }
}