@import "variables";
html {
    margin: 0;
    padding: 0;
    font-family: OpenN;
    font-size: 20px;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    margin: 0;
    color: $light-color;
    background-color: $light-bg;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $light-color;
    text-decoration: none;
}

h3 {
    font-size: 1rem;
}

h2 {
    font-size: 1.3rem;
}