@font-face {
    font-family: OpenI;
    src: url(../asset/font/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: OpenN;
    src: url(../asset/font/OpenSans-VariableFont_wdth\,wght.ttf);
}